body {
    display: flex;
    width: 99vw;
    height: 97vh;
    background: linear-gradient(230deg, #00bdf5, #008cff, #c83ffb);
    background-size: 600% 600%;

    -webkit-animation: backgroundAnimation 10s ease infinite;
    -moz-animation: backgroundAnimation 10s ease infinite;
    animation: backgroundAnimation 10s ease infinite;
}
.main-text {
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@-webkit-keyframes backgroundAnimation {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@-moz-keyframes backgroundAnimation {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@keyframes backgroundAnimation {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}